@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body
{
    font-family: 'Roboto',serif;
}

* {margin: 0; padding: 0;}

html, body 
{
    border:  0;
    height:  100%;
    margin:  0;
    padding: 0;
    width:   100%;
    background-color:white;
    transition: background  0.5s;
}

#toggle
{
    text-align: right;
    margin-right: 1%;
}
#switch
{
    position: relative;
    display: inline-block;

    width: 60px;
    height: 34px;

    
}

#switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}

#slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ccc; */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

}

#slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

}




input:checked + #slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}




#changeThemeButton
{
    font:  Roboto;;
    /* top: 50%;
    left: 20%;
    margin-top: -80px; */
    float: right;
}

#top-quote
{
    color:white;
    font: 15px;
    padding-top:20px;
    text-align: center;
}


#main
{
    color: white;
    font: 50px/50px Roboto;;
    position: relative;

    top: 40%;
    margin-top: -80px;

    text-align: center;
}

#time
{
    color: white;
    font: 75px Roboto;
    text-align: center;

}

#hexcolor
{
    color: white;
    font: 20px Lato;

    text-align: center;

}

#rgbcolor
{
    color: white;
    font: 20px Lato;
    text-align: center;

}

#hslcolor
{
    color: white;
    font: 20px Lato;
    text-align: center;

}
#cmykcolor
{
    color: white;
    font: 20px Lato;
    text-align: center;

}



#footer
{
    color: white;
    font: 20px;
    text-align: center;

}


