@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body
{
    font-family: 'Roboto Light',serif;
}

* {margin: 0; padding: 0;}

html, body 
{
    border:  0;
	height:  100%;
	margin:  0;
	padding: 0;
	width:   100%;
    background-color:white;
}

#top-quote
{
    color:white;
    font: 15px;
    padding-top:20px;
    text-align: center;
}


#main
{
    color: white;
    font: 50px/50px Roboto Light;;
    position: relative;

    top: 45%;
    margin-top: -80px;

    text-align: center;
}

#time
{
    color: white;
    font: 75px Roboto Light;
    text-align: center;

}

#hexcolor
{
    color: white;
    font: 20px Lato;

    text-align: center;

}

#rgbcolor
{
    color: white;
    font: 20px Lato;
    text-align: center;

}

#hslcolor
{
    color: white;
    font: 20px Lato;
    text-align: center;

}

#footer
{
    color: white;
    font: 20px;
    text-align: center;

}


canvas {
    height: 50%;
    width: 50%;
}

